body {
    font-family: 'Helvetica', Arial, sans-serif;
    background-color: #f0f4f7;
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    height: 100vh;
}

.container {
    height: fit-content;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 700px;
    width: 100%;
}

h1 {
    color: #4CAF50;
    text-align: center;
}

p {
    font-size: 16px;
    line-height: 1.6;
    color: #333;
}

pre {
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    overflow-x: auto;
}

code {
    color: #e83e8c;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
}


button {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

#result {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}
